--
-- PostgreSQL database dump
--

\restrict huVWxy3jhsFIUGx3XaLg6Qv0XVIdlo84olXBGmJLJYKQ4AXfyjt7FiBtWFTilj3

-- Dumped from database version 16.11
-- Dumped by pg_dump version 16.11

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: brainbook
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO brainbook;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: brainbook
--

COMMENT ON SCHEMA public IS '';


--
-- Name: CartStatus; Type: TYPE; Schema: public; Owner: brainbook
--

CREATE TYPE public."CartStatus" AS ENUM (
    'ACTIVE',
    'ABANDONED'
);


ALTER TYPE public."CartStatus" OWNER TO brainbook;

--
-- Name: CouponType; Type: TYPE; Schema: public; Owner: brainbook
--

CREATE TYPE public."CouponType" AS ENUM (
    'PERCENT',
    'FIXED_AMOUNT'
);


ALTER TYPE public."CouponType" OWNER TO brainbook;

--
-- Name: OrderStatus; Type: TYPE; Schema: public; Owner: brainbook
--

CREATE TYPE public."OrderStatus" AS ENUM (
    'PENDING',
    'PAID',
    'PROCESSING',
    'SHIPPED',
    'DELIVERED',
    'CANCELLED'
);


ALTER TYPE public."OrderStatus" OWNER TO brainbook;

--
-- Name: PaymentMethod; Type: TYPE; Schema: public; Owner: brainbook
--

CREATE TYPE public."PaymentMethod" AS ENUM (
    'COD',
    'BANK_TRANSFER',
    'PAYPAL'
);


ALTER TYPE public."PaymentMethod" OWNER TO brainbook;

--
-- Name: PaymentStatus; Type: TYPE; Schema: public; Owner: brainbook
--

CREATE TYPE public."PaymentStatus" AS ENUM (
    'PENDING',
    'AUTHORIZED',
    'CAPTURED',
    'FAILED',
    'REFUNDED',
    'PARTIALLY_REFUNDED'
);


ALTER TYPE public."PaymentStatus" OWNER TO brainbook;

--
-- Name: ShipmentStatus; Type: TYPE; Schema: public; Owner: brainbook
--

CREATE TYPE public."ShipmentStatus" AS ENUM (
    'PENDING',
    'SHIPPED',
    'IN_TRANSIT',
    'DELIVERED',
    'FAILED'
);


ALTER TYPE public."ShipmentStatus" OWNER TO brainbook;

--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: brainbook
--

CREATE TYPE public."UserRole" AS ENUM (
    'CUSTOMER',
    'ADMIN'
);


ALTER TYPE public."UserRole" OWNER TO brainbook;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Address; Type: TABLE; Schema: public; Owner: brainbook
--

CREATE TABLE public."Address" (
    id text NOT NULL,
    "userId" text NOT NULL,
    label text,
    "firstName" text NOT NULL,
    "lastName" text NOT NULL,
    phone text,
    "countryCode" text NOT NULL,
    city text NOT NULL,
    "addressLine1" text NOT NULL,
    "addressLine2" text,
    "isDefault" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Address" OWNER TO brainbook;

--
-- Name: AuditLog; Type: TABLE; Schema: public; Owner: brainbook
--

CREATE TABLE public."AuditLog" (
    id text NOT NULL,
    entity text NOT NULL,
    "entityId" text NOT NULL,
    action text NOT NULL,
    "userId" text,
    metadata jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."AuditLog" OWNER TO brainbook;

--
-- Name: Author; Type: TABLE; Schema: public; Owner: brainbook
--

CREATE TABLE public."Author" (
    id integer NOT NULL,
    name text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Author" OWNER TO brainbook;

--
-- Name: Author_id_seq; Type: SEQUENCE; Schema: public; Owner: brainbook
--

CREATE SEQUENCE public."Author_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Author_id_seq" OWNER TO brainbook;

--
-- Name: Author_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: brainbook
--

ALTER SEQUENCE public."Author_id_seq" OWNED BY public."Author".id;


--
-- Name: Book; Type: TABLE; Schema: public; Owner: brainbook
--

CREATE TABLE public."Book" (
    id integer NOT NULL,
    sku text NOT NULL,
    slug text NOT NULL,
    title text NOT NULL,
    price numeric(10,2) NOT NULL,
    "compareAtPrice" numeric(10,2),
    "imageUrl" text NOT NULL,
    description text NOT NULL,
    "longDescription" text,
    format text NOT NULL,
    language text,
    "pageCount" integer,
    isbn10 text,
    dimensions text,
    "ratingAvg" numeric(2,1),
    "reviewCount" integer DEFAULT 0 NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "authorId" integer NOT NULL,
    "publisherId" integer,
    "imagePublicId" text
);


ALTER TABLE public."Book" OWNER TO brainbook;

--
-- Name: BookCategory; Type: TABLE; Schema: public; Owner: brainbook
--

CREATE TABLE public."BookCategory" (
    "bookId" integer NOT NULL,
    "categoryId" integer NOT NULL
);


ALTER TABLE public."BookCategory" OWNER TO brainbook;

--
-- Name: BookImage; Type: TABLE; Schema: public; Owner: brainbook
--

CREATE TABLE public."BookImage" (
    id integer NOT NULL,
    "bookId" integer NOT NULL,
    url text NOT NULL,
    "sortOrder" integer DEFAULT 0 NOT NULL
);


ALTER TABLE public."BookImage" OWNER TO brainbook;

--
-- Name: BookImage_id_seq; Type: SEQUENCE; Schema: public; Owner: brainbook
--

CREATE SEQUENCE public."BookImage_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."BookImage_id_seq" OWNER TO brainbook;

--
-- Name: BookImage_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: brainbook
--

ALTER SEQUENCE public."BookImage_id_seq" OWNED BY public."BookImage".id;


--
-- Name: BookTag; Type: TABLE; Schema: public; Owner: brainbook
--

CREATE TABLE public."BookTag" (
    "bookId" integer NOT NULL,
    "tagId" integer NOT NULL
);


ALTER TABLE public."BookTag" OWNER TO brainbook;

--
-- Name: Book_id_seq; Type: SEQUENCE; Schema: public; Owner: brainbook
--

CREATE SEQUENCE public."Book_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Book_id_seq" OWNER TO brainbook;

--
-- Name: Book_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: brainbook
--

ALTER SEQUENCE public."Book_id_seq" OWNED BY public."Book".id;


--
-- Name: Cart; Type: TABLE; Schema: public; Owner: brainbook
--

CREATE TABLE public."Cart" (
    id text NOT NULL,
    "userId" text,
    "sessionId" text,
    status public."CartStatus" DEFAULT 'ACTIVE'::public."CartStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Cart" OWNER TO brainbook;

--
-- Name: CartItem; Type: TABLE; Schema: public; Owner: brainbook
--

CREATE TABLE public."CartItem" (
    id integer NOT NULL,
    "cartId" text NOT NULL,
    "bookId" integer NOT NULL,
    quantity integer DEFAULT 1 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "authorSnapshot" text NOT NULL,
    "imageUrlSnapshot" text NOT NULL,
    "lineTotalSnapshot" numeric(10,2) NOT NULL,
    "titleSnapshot" text NOT NULL,
    "unitPriceSnapshot" numeric(10,2) NOT NULL,
    CONSTRAINT cartitem_quantity_check CHECK ((quantity > 0))
);


ALTER TABLE public."CartItem" OWNER TO brainbook;

--
-- Name: CartItem_id_seq; Type: SEQUENCE; Schema: public; Owner: brainbook
--

CREATE SEQUENCE public."CartItem_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."CartItem_id_seq" OWNER TO brainbook;

--
-- Name: CartItem_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: brainbook
--

ALTER SEQUENCE public."CartItem_id_seq" OWNED BY public."CartItem".id;


--
-- Name: Category; Type: TABLE; Schema: public; Owner: brainbook
--

CREATE TABLE public."Category" (
    id integer NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Category" OWNER TO brainbook;

--
-- Name: Category_id_seq; Type: SEQUENCE; Schema: public; Owner: brainbook
--

CREATE SEQUENCE public."Category_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Category_id_seq" OWNER TO brainbook;

--
-- Name: Category_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: brainbook
--

ALTER SEQUENCE public."Category_id_seq" OWNED BY public."Category".id;


--
-- Name: ContactMessage; Type: TABLE; Schema: public; Owner: brainbook
--

CREATE TABLE public."ContactMessage" (
    id integer NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    phone text,
    "orderNumber" text,
    subject text NOT NULL,
    message text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "readAt" timestamp(3) without time zone
);


ALTER TABLE public."ContactMessage" OWNER TO brainbook;

--
-- Name: ContactMessage_id_seq; Type: SEQUENCE; Schema: public; Owner: brainbook
--

CREATE SEQUENCE public."ContactMessage_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."ContactMessage_id_seq" OWNER TO brainbook;

--
-- Name: ContactMessage_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: brainbook
--

ALTER SEQUENCE public."ContactMessage_id_seq" OWNED BY public."ContactMessage".id;


--
-- Name: Coupon; Type: TABLE; Schema: public; Owner: brainbook
--

CREATE TABLE public."Coupon" (
    id integer NOT NULL,
    code text NOT NULL,
    type public."CouponType" NOT NULL,
    value numeric(10,2) NOT NULL,
    "minSubtotal" numeric(10,2),
    "maxUses" integer,
    "expiresAt" timestamp(3) without time zone,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "deletedAt" timestamp(3) without time zone
);


ALTER TABLE public."Coupon" OWNER TO brainbook;

--
-- Name: CouponUsage; Type: TABLE; Schema: public; Owner: brainbook
--

CREATE TABLE public."CouponUsage" (
    id integer NOT NULL,
    "couponId" integer NOT NULL,
    "userId" text,
    "orderId" text NOT NULL,
    "usedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."CouponUsage" OWNER TO brainbook;

--
-- Name: CouponUsage_id_seq; Type: SEQUENCE; Schema: public; Owner: brainbook
--

CREATE SEQUENCE public."CouponUsage_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."CouponUsage_id_seq" OWNER TO brainbook;

--
-- Name: CouponUsage_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: brainbook
--

ALTER SEQUENCE public."CouponUsage_id_seq" OWNED BY public."CouponUsage".id;


--
-- Name: Coupon_id_seq; Type: SEQUENCE; Schema: public; Owner: brainbook
--

CREATE SEQUENCE public."Coupon_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Coupon_id_seq" OWNER TO brainbook;

--
-- Name: Coupon_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: brainbook
--

ALTER SEQUENCE public."Coupon_id_seq" OWNED BY public."Coupon".id;


--
-- Name: Inventory; Type: TABLE; Schema: public; Owner: brainbook
--

CREATE TABLE public."Inventory" (
    "bookId" integer NOT NULL,
    stock integer NOT NULL,
    reserved integer DEFAULT 0 NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    CONSTRAINT inventory_check CHECK (((stock >= 0) AND (reserved >= 0) AND (stock >= reserved)))
);


ALTER TABLE public."Inventory" OWNER TO brainbook;

--
-- Name: Order; Type: TABLE; Schema: public; Owner: brainbook
--

CREATE TABLE public."Order" (
    id text NOT NULL,
    "orderNumber" text NOT NULL,
    status public."OrderStatus" DEFAULT 'PENDING'::public."OrderStatus" NOT NULL,
    "paymentMethod" public."PaymentMethod" NOT NULL,
    subtotal numeric(10,2) NOT NULL,
    "shippingAmount" numeric(10,2) NOT NULL,
    "shippingLabel" text,
    total numeric(10,2) NOT NULL,
    "customerFirstName" text NOT NULL,
    "customerLastName" text NOT NULL,
    "customerEmail" text NOT NULL,
    "customerPhone" text NOT NULL,
    "countryCode" text NOT NULL,
    city text NOT NULL,
    "addressLine1" text NOT NULL,
    "addressLine2" text,
    "orderNotes" text,
    "shippingAddressId" text,
    "couponCode" text,
    "couponDiscount" numeric(10,2),
    "userId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "idempotencyKey" text,
    currency text DEFAULT 'USD'::text NOT NULL,
    CONSTRAINT order_total_check CHECK ((total >= (0)::numeric))
);


ALTER TABLE public."Order" OWNER TO brainbook;

--
-- Name: OrderItem; Type: TABLE; Schema: public; Owner: brainbook
--

CREATE TABLE public."OrderItem" (
    id integer NOT NULL,
    "orderId" text NOT NULL,
    "bookId" integer,
    "titleSnapshot" text NOT NULL,
    "authorSnapshot" text NOT NULL,
    "imageUrlSnapshot" text NOT NULL,
    "unitPrice" numeric(10,2) NOT NULL,
    quantity integer NOT NULL,
    "lineTotal" numeric(10,2) NOT NULL,
    CONSTRAINT orderitem_check CHECK (((quantity > 0) AND ("unitPrice" >= (0)::numeric) AND ("lineTotal" >= (0)::numeric)))
);


ALTER TABLE public."OrderItem" OWNER TO brainbook;

--
-- Name: OrderItem_id_seq; Type: SEQUENCE; Schema: public; Owner: brainbook
--

CREATE SEQUENCE public."OrderItem_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."OrderItem_id_seq" OWNER TO brainbook;

--
-- Name: OrderItem_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: brainbook
--

ALTER SEQUENCE public."OrderItem_id_seq" OWNED BY public."OrderItem".id;


--
-- Name: Payment; Type: TABLE; Schema: public; Owner: brainbook
--

CREATE TABLE public."Payment" (
    id text NOT NULL,
    "orderId" text NOT NULL,
    method public."PaymentMethod" NOT NULL,
    status public."PaymentStatus" DEFAULT 'PENDING'::public."PaymentStatus" NOT NULL,
    amount numeric(10,2) NOT NULL,
    currency text DEFAULT 'USD'::text NOT NULL,
    "transactionId" text,
    "externalReference" text,
    "failureReason" text,
    metadata jsonb,
    "paidAt" timestamp(3) without time zone,
    "refundedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Payment" OWNER TO brainbook;

--
-- Name: PaymentEvent; Type: TABLE; Schema: public; Owner: brainbook
--

CREATE TABLE public."PaymentEvent" (
    id text NOT NULL,
    "paymentId" text NOT NULL,
    type text NOT NULL,
    payload jsonb NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."PaymentEvent" OWNER TO brainbook;

--
-- Name: Publisher; Type: TABLE; Schema: public; Owner: brainbook
--

CREATE TABLE public."Publisher" (
    id integer NOT NULL,
    name text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Publisher" OWNER TO brainbook;

--
-- Name: Publisher_id_seq; Type: SEQUENCE; Schema: public; Owner: brainbook
--

CREATE SEQUENCE public."Publisher_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Publisher_id_seq" OWNER TO brainbook;

--
-- Name: Publisher_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: brainbook
--

ALTER SEQUENCE public."Publisher_id_seq" OWNED BY public."Publisher".id;


--
-- Name: Refund; Type: TABLE; Schema: public; Owner: brainbook
--

CREATE TABLE public."Refund" (
    id text NOT NULL,
    "paymentId" text NOT NULL,
    amount numeric(10,2) NOT NULL,
    reason text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Refund" OWNER TO brainbook;

--
-- Name: Shipment; Type: TABLE; Schema: public; Owner: brainbook
--

CREATE TABLE public."Shipment" (
    id text NOT NULL,
    "orderId" text NOT NULL,
    "trackingNumber" text,
    carrier text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    status public."ShipmentStatus" NOT NULL
);


ALTER TABLE public."Shipment" OWNER TO brainbook;

--
-- Name: Tag; Type: TABLE; Schema: public; Owner: brainbook
--

CREATE TABLE public."Tag" (
    id integer NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Tag" OWNER TO brainbook;

--
-- Name: Tag_id_seq; Type: SEQUENCE; Schema: public; Owner: brainbook
--

CREATE SEQUENCE public."Tag_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Tag_id_seq" OWNER TO brainbook;

--
-- Name: Tag_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: brainbook
--

ALTER SEQUENCE public."Tag_id_seq" OWNED BY public."Tag".id;


--
-- Name: User; Type: TABLE; Schema: public; Owner: brainbook
--

CREATE TABLE public."User" (
    id text NOT NULL,
    email text NOT NULL,
    "passwordHash" text NOT NULL,
    "firstName" text,
    "lastName" text,
    phone text,
    role public."UserRole" DEFAULT 'CUSTOMER'::public."UserRole" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "deletedAt" timestamp(3) without time zone
);


ALTER TABLE public."User" OWNER TO brainbook;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: brainbook
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO brainbook;

--
-- Name: Author id; Type: DEFAULT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."Author" ALTER COLUMN id SET DEFAULT nextval('public."Author_id_seq"'::regclass);


--
-- Name: Book id; Type: DEFAULT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."Book" ALTER COLUMN id SET DEFAULT nextval('public."Book_id_seq"'::regclass);


--
-- Name: BookImage id; Type: DEFAULT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."BookImage" ALTER COLUMN id SET DEFAULT nextval('public."BookImage_id_seq"'::regclass);


--
-- Name: CartItem id; Type: DEFAULT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."CartItem" ALTER COLUMN id SET DEFAULT nextval('public."CartItem_id_seq"'::regclass);


--
-- Name: Category id; Type: DEFAULT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."Category" ALTER COLUMN id SET DEFAULT nextval('public."Category_id_seq"'::regclass);


--
-- Name: ContactMessage id; Type: DEFAULT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."ContactMessage" ALTER COLUMN id SET DEFAULT nextval('public."ContactMessage_id_seq"'::regclass);


--
-- Name: Coupon id; Type: DEFAULT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."Coupon" ALTER COLUMN id SET DEFAULT nextval('public."Coupon_id_seq"'::regclass);


--
-- Name: CouponUsage id; Type: DEFAULT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."CouponUsage" ALTER COLUMN id SET DEFAULT nextval('public."CouponUsage_id_seq"'::regclass);


--
-- Name: OrderItem id; Type: DEFAULT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."OrderItem" ALTER COLUMN id SET DEFAULT nextval('public."OrderItem_id_seq"'::regclass);


--
-- Name: Publisher id; Type: DEFAULT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."Publisher" ALTER COLUMN id SET DEFAULT nextval('public."Publisher_id_seq"'::regclass);


--
-- Name: Tag id; Type: DEFAULT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."Tag" ALTER COLUMN id SET DEFAULT nextval('public."Tag_id_seq"'::regclass);


--
-- Data for Name: Address; Type: TABLE DATA; Schema: public; Owner: brainbook
--

COPY public."Address" (id, "userId", label, "firstName", "lastName", phone, "countryCode", city, "addressLine1", "addressLine2", "isDefault", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: AuditLog; Type: TABLE DATA; Schema: public; Owner: brainbook
--

COPY public."AuditLog" (id, entity, "entityId", action, "userId", metadata, "createdAt") FROM stdin;
\.


--
-- Data for Name: Author; Type: TABLE DATA; Schema: public; Owner: brainbook
--



--
-- Data for Name: Book; Type: TABLE DATA; Schema: public; Owner: brainbook
--



--
-- Data for Name: BookCategory; Type: TABLE DATA; Schema: public; Owner: brainbook
--

COPY public."BookCategory" ("bookId", "categoryId") FROM stdin;
1	1
1	2
2	1
3	1
3	2
4	1
4	2
5	1
5	2
6	1
6	2
7	1
7	2
8	1
8	2
9	1
9	2
10	1
10	2
11	1
11	2
12	1
12	2
13	1
13	2
14	1
14	2
15	1
15	2
16	1
16	2
17	1
17	2
18	1
18	2
19	1
19	2
20	1
20	2
21	1
21	2
22	1
22	2
\.


--
-- Data for Name: BookImage; Type: TABLE DATA; Schema: public; Owner: brainbook
--



--
-- Data for Name: BookTag; Type: TABLE DATA; Schema: public; Owner: brainbook
--

COPY public."BookTag" ("bookId", "tagId") FROM stdin;
1	1
2	1
3	1
4	1
5	1
6	1
7	1
8	1
9	1
10	1
11	1
12	1
13	1
14	1
15	1
16	1
17	1
18	1
19	1
20	1
21	1
22	1
\.


--
-- Data for Name: Cart; Type: TABLE DATA; Schema: public; Owner: brainbook
--

COPY public."Cart" (id, "userId", "sessionId", status, "createdAt", "updatedAt") FROM stdin;
cmofj3zvf0000uc8kskhvz5nl	\N	877d131e-922c-4332-a885-3c768cb20fa7	ACTIVE	2026-04-26 08:51:17.978	2026-04-26 08:51:17.978
\.


--
-- Data for Name: CartItem; Type: TABLE DATA; Schema: public; Owner: brainbook
--



--
-- Data for Name: Category; Type: TABLE DATA; Schema: public; Owner: brainbook
--

COPY public."Category" (id, name, slug, "createdAt") FROM stdin;
1	Romance	romance	2026-04-26 06:52:47.664
2	Fiction	fiction	2026-04-26 06:52:47.728
\.


--
-- Data for Name: ContactMessage; Type: TABLE DATA; Schema: public; Owner: brainbook
--

COPY public."ContactMessage" (id, name, email, phone, "orderNumber", subject, message, "createdAt", "readAt") FROM stdin;
\.


--
-- Data for Name: Coupon; Type: TABLE DATA; Schema: public; Owner: brainbook
--

COPY public."Coupon" (id, code, type, value, "minSubtotal", "maxUses", "expiresAt", "isActive", "createdAt", "deletedAt") FROM stdin;
1	WELCOME10	PERCENT	10.00	20.00	1000	\N	t	2026-04-26 06:52:47.883	\N
\.


--
-- Data for Name: CouponUsage; Type: TABLE DATA; Schema: public; Owner: brainbook
--

COPY public."CouponUsage" (id, "couponId", "userId", "orderId", "usedAt") FROM stdin;
\.


--
-- Data for Name: Inventory; Type: TABLE DATA; Schema: public; Owner: brainbook
--



--
-- Data for Name: Order; Type: TABLE DATA; Schema: public; Owner: brainbook
--

COPY public."Order" (id, "orderNumber", status, "paymentMethod", subtotal, "shippingAmount", "shippingLabel", total, "customerFirstName", "customerLastName", "customerEmail", "customerPhone", "countryCode", city, "addressLine1", "addressLine2", "orderNotes", "shippingAddressId", "couponCode", "couponDiscount", "userId", "createdAt", "updatedAt", "deletedAt", "idempotencyKey", currency) FROM stdin;
\.


--
-- Data for Name: OrderItem; Type: TABLE DATA; Schema: public; Owner: brainbook
--

COPY public."OrderItem" (id, "orderId", "bookId", "titleSnapshot", "authorSnapshot", "imageUrlSnapshot", "unitPrice", quantity, "lineTotal") FROM stdin;
\.


--
-- Data for Name: Payment; Type: TABLE DATA; Schema: public; Owner: brainbook
--

COPY public."Payment" (id, "orderId", method, status, amount, currency, "transactionId", "externalReference", "failureReason", metadata, "paidAt", "refundedAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: PaymentEvent; Type: TABLE DATA; Schema: public; Owner: brainbook
--

COPY public."PaymentEvent" (id, "paymentId", type, payload, "createdAt") FROM stdin;
\.


--
-- Data for Name: Publisher; Type: TABLE DATA; Schema: public; Owner: brainbook
--



--
-- Data for Name: Refund; Type: TABLE DATA; Schema: public; Owner: brainbook
--

COPY public."Refund" (id, "paymentId", amount, reason, "createdAt") FROM stdin;
\.


--
-- Data for Name: Shipment; Type: TABLE DATA; Schema: public; Owner: brainbook
--

COPY public."Shipment" (id, "orderId", "trackingNumber", carrier, "createdAt", "updatedAt", status) FROM stdin;
\.


--
-- Data for Name: Tag; Type: TABLE DATA; Schema: public; Owner: brainbook
--

COPY public."Tag" (id, name, slug, "createdAt") FROM stdin;
1	Bestseller	bestseller	2026-04-26 06:52:47.74
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: brainbook
--

COPY public."User" (id, email, "passwordHash", "firstName", "lastName", phone, role, "createdAt", "updatedAt", "deletedAt") FROM stdin;
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: brainbook
--



--
-- Name: Author_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brainbook
--

SELECT pg_catalog.setval('public."Author_id_seq"', 19, true);


--
-- Name: BookImage_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brainbook
--

SELECT pg_catalog.setval('public."BookImage_id_seq"', 46, true);


--
-- Name: Book_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brainbook
--

SELECT pg_catalog.setval('public."Book_id_seq"', 22, true);


--
-- Name: CartItem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brainbook
--

SELECT pg_catalog.setval('public."CartItem_id_seq"', 4, true);


--
-- Name: Category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brainbook
--

SELECT pg_catalog.setval('public."Category_id_seq"', 2, true);


--
-- Name: ContactMessage_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brainbook
--

SELECT pg_catalog.setval('public."ContactMessage_id_seq"', 1, false);


--
-- Name: CouponUsage_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brainbook
--

SELECT pg_catalog.setval('public."CouponUsage_id_seq"', 1, false);


--
-- Name: Coupon_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brainbook
--

SELECT pg_catalog.setval('public."Coupon_id_seq"', 1, true);


--
-- Name: OrderItem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brainbook
--

SELECT pg_catalog.setval('public."OrderItem_id_seq"', 1, false);


--
-- Name: Publisher_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brainbook
--

SELECT pg_catalog.setval('public."Publisher_id_seq"', 15, true);


--
-- Name: Tag_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brainbook
--

SELECT pg_catalog.setval('public."Tag_id_seq"', 1, true);


--
-- Name: Address Address_pkey; Type: CONSTRAINT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."Address"
    ADD CONSTRAINT "Address_pkey" PRIMARY KEY (id);


--
-- Name: AuditLog AuditLog_pkey; Type: CONSTRAINT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."AuditLog"
    ADD CONSTRAINT "AuditLog_pkey" PRIMARY KEY (id);


--
-- Name: Author Author_pkey; Type: CONSTRAINT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."Author"
    ADD CONSTRAINT "Author_pkey" PRIMARY KEY (id);


--
-- Name: BookCategory BookCategory_pkey; Type: CONSTRAINT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."BookCategory"
    ADD CONSTRAINT "BookCategory_pkey" PRIMARY KEY ("bookId", "categoryId");


--
-- Name: BookImage BookImage_pkey; Type: CONSTRAINT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."BookImage"
    ADD CONSTRAINT "BookImage_pkey" PRIMARY KEY (id);


--
-- Name: BookTag BookTag_pkey; Type: CONSTRAINT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."BookTag"
    ADD CONSTRAINT "BookTag_pkey" PRIMARY KEY ("bookId", "tagId");


--
-- Name: Book Book_pkey; Type: CONSTRAINT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."Book"
    ADD CONSTRAINT "Book_pkey" PRIMARY KEY (id);


--
-- Name: CartItem CartItem_pkey; Type: CONSTRAINT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."CartItem"
    ADD CONSTRAINT "CartItem_pkey" PRIMARY KEY (id);


--
-- Name: Cart Cart_pkey; Type: CONSTRAINT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."Cart"
    ADD CONSTRAINT "Cart_pkey" PRIMARY KEY (id);


--
-- Name: Category Category_pkey; Type: CONSTRAINT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."Category"
    ADD CONSTRAINT "Category_pkey" PRIMARY KEY (id);


--
-- Name: ContactMessage ContactMessage_pkey; Type: CONSTRAINT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."ContactMessage"
    ADD CONSTRAINT "ContactMessage_pkey" PRIMARY KEY (id);


--
-- Name: CouponUsage CouponUsage_pkey; Type: CONSTRAINT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."CouponUsage"
    ADD CONSTRAINT "CouponUsage_pkey" PRIMARY KEY (id);


--
-- Name: Coupon Coupon_pkey; Type: CONSTRAINT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."Coupon"
    ADD CONSTRAINT "Coupon_pkey" PRIMARY KEY (id);


--
-- Name: Inventory Inventory_pkey; Type: CONSTRAINT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."Inventory"
    ADD CONSTRAINT "Inventory_pkey" PRIMARY KEY ("bookId");


--
-- Name: OrderItem OrderItem_pkey; Type: CONSTRAINT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."OrderItem"
    ADD CONSTRAINT "OrderItem_pkey" PRIMARY KEY (id);


--
-- Name: Order Order_pkey; Type: CONSTRAINT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "Order_pkey" PRIMARY KEY (id);


--
-- Name: PaymentEvent PaymentEvent_pkey; Type: CONSTRAINT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."PaymentEvent"
    ADD CONSTRAINT "PaymentEvent_pkey" PRIMARY KEY (id);


--
-- Name: Payment Payment_pkey; Type: CONSTRAINT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_pkey" PRIMARY KEY (id);


--
-- Name: Publisher Publisher_pkey; Type: CONSTRAINT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."Publisher"
    ADD CONSTRAINT "Publisher_pkey" PRIMARY KEY (id);


--
-- Name: Refund Refund_pkey; Type: CONSTRAINT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."Refund"
    ADD CONSTRAINT "Refund_pkey" PRIMARY KEY (id);


--
-- Name: Shipment Shipment_pkey; Type: CONSTRAINT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."Shipment"
    ADD CONSTRAINT "Shipment_pkey" PRIMARY KEY (id);


--
-- Name: Tag Tag_pkey; Type: CONSTRAINT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."Tag"
    ADD CONSTRAINT "Tag_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: Address_userId_idx; Type: INDEX; Schema: public; Owner: brainbook
--

CREATE INDEX "Address_userId_idx" ON public."Address" USING btree ("userId");


--
-- Name: AuditLog_entity_entityId_idx; Type: INDEX; Schema: public; Owner: brainbook
--

CREATE INDEX "AuditLog_entity_entityId_idx" ON public."AuditLog" USING btree (entity, "entityId");


--
-- Name: AuditLog_userId_idx; Type: INDEX; Schema: public; Owner: brainbook
--

CREATE INDEX "AuditLog_userId_idx" ON public."AuditLog" USING btree ("userId");


--
-- Name: Author_name_key; Type: INDEX; Schema: public; Owner: brainbook
--

CREATE UNIQUE INDEX "Author_name_key" ON public."Author" USING btree (name);


--
-- Name: BookCategory_categoryId_idx; Type: INDEX; Schema: public; Owner: brainbook
--

CREATE INDEX "BookCategory_categoryId_idx" ON public."BookCategory" USING btree ("categoryId");


--
-- Name: BookImage_bookId_idx; Type: INDEX; Schema: public; Owner: brainbook
--

CREATE INDEX "BookImage_bookId_idx" ON public."BookImage" USING btree ("bookId");


--
-- Name: Book_authorId_idx; Type: INDEX; Schema: public; Owner: brainbook
--

CREATE INDEX "Book_authorId_idx" ON public."Book" USING btree ("authorId");


--
-- Name: Book_isActive_price_createdAt_idx; Type: INDEX; Schema: public; Owner: brainbook
--

CREATE INDEX "Book_isActive_price_createdAt_idx" ON public."Book" USING btree ("isActive", price, "createdAt");


--
-- Name: Book_price_idx; Type: INDEX; Schema: public; Owner: brainbook
--

CREATE INDEX "Book_price_idx" ON public."Book" USING btree (price);


--
-- Name: Book_publisherId_idx; Type: INDEX; Schema: public; Owner: brainbook
--

CREATE INDEX "Book_publisherId_idx" ON public."Book" USING btree ("publisherId");


--
-- Name: Book_sku_key; Type: INDEX; Schema: public; Owner: brainbook
--

CREATE UNIQUE INDEX "Book_sku_key" ON public."Book" USING btree (sku);


--
-- Name: Book_slug_key; Type: INDEX; Schema: public; Owner: brainbook
--

CREATE UNIQUE INDEX "Book_slug_key" ON public."Book" USING btree (slug);


--
-- Name: CartItem_cartId_bookId_key; Type: INDEX; Schema: public; Owner: brainbook
--

CREATE UNIQUE INDEX "CartItem_cartId_bookId_key" ON public."CartItem" USING btree ("cartId", "bookId");


--
-- Name: Cart_sessionId_status_idx; Type: INDEX; Schema: public; Owner: brainbook
--

CREATE INDEX "Cart_sessionId_status_idx" ON public."Cart" USING btree ("sessionId", status);


--
-- Name: Cart_userId_status_idx; Type: INDEX; Schema: public; Owner: brainbook
--

CREATE INDEX "Cart_userId_status_idx" ON public."Cart" USING btree ("userId", status);


--
-- Name: Category_slug_key; Type: INDEX; Schema: public; Owner: brainbook
--

CREATE UNIQUE INDEX "Category_slug_key" ON public."Category" USING btree (slug);


--
-- Name: CouponUsage_couponId_userId_idx; Type: INDEX; Schema: public; Owner: brainbook
--

CREATE INDEX "CouponUsage_couponId_userId_idx" ON public."CouponUsage" USING btree ("couponId", "userId");


--
-- Name: CouponUsage_couponId_userId_key; Type: INDEX; Schema: public; Owner: brainbook
--

CREATE UNIQUE INDEX "CouponUsage_couponId_userId_key" ON public."CouponUsage" USING btree ("couponId", "userId");


--
-- Name: CouponUsage_orderId_idx; Type: INDEX; Schema: public; Owner: brainbook
--

CREATE INDEX "CouponUsage_orderId_idx" ON public."CouponUsage" USING btree ("orderId");


--
-- Name: Coupon_code_isActive_expiresAt_idx; Type: INDEX; Schema: public; Owner: brainbook
--

CREATE INDEX "Coupon_code_isActive_expiresAt_idx" ON public."Coupon" USING btree (code, "isActive", "expiresAt");


--
-- Name: Coupon_code_key; Type: INDEX; Schema: public; Owner: brainbook
--

CREATE UNIQUE INDEX "Coupon_code_key" ON public."Coupon" USING btree (code);


--
-- Name: OrderItem_orderId_idx; Type: INDEX; Schema: public; Owner: brainbook
--

CREATE INDEX "OrderItem_orderId_idx" ON public."OrderItem" USING btree ("orderId");


--
-- Name: Order_customerEmail_idx; Type: INDEX; Schema: public; Owner: brainbook
--

CREATE INDEX "Order_customerEmail_idx" ON public."Order" USING btree ("customerEmail");


--
-- Name: Order_idempotencyKey_key; Type: INDEX; Schema: public; Owner: brainbook
--

CREATE UNIQUE INDEX "Order_idempotencyKey_key" ON public."Order" USING btree ("idempotencyKey");


--
-- Name: Order_orderNumber_key; Type: INDEX; Schema: public; Owner: brainbook
--

CREATE UNIQUE INDEX "Order_orderNumber_key" ON public."Order" USING btree ("orderNumber");


--
-- Name: Order_status_createdAt_idx; Type: INDEX; Schema: public; Owner: brainbook
--

CREATE INDEX "Order_status_createdAt_idx" ON public."Order" USING btree (status, "createdAt");


--
-- Name: Order_userId_createdAt_idx; Type: INDEX; Schema: public; Owner: brainbook
--

CREATE INDEX "Order_userId_createdAt_idx" ON public."Order" USING btree ("userId", "createdAt");


--
-- Name: PaymentEvent_paymentId_idx; Type: INDEX; Schema: public; Owner: brainbook
--

CREATE INDEX "PaymentEvent_paymentId_idx" ON public."PaymentEvent" USING btree ("paymentId");


--
-- Name: Payment_externalReference_key; Type: INDEX; Schema: public; Owner: brainbook
--

CREATE UNIQUE INDEX "Payment_externalReference_key" ON public."Payment" USING btree ("externalReference");


--
-- Name: Payment_orderId_idx; Type: INDEX; Schema: public; Owner: brainbook
--

CREATE INDEX "Payment_orderId_idx" ON public."Payment" USING btree ("orderId");


--
-- Name: Payment_orderId_status_idx; Type: INDEX; Schema: public; Owner: brainbook
--

CREATE INDEX "Payment_orderId_status_idx" ON public."Payment" USING btree ("orderId", status);


--
-- Name: Payment_status_idx; Type: INDEX; Schema: public; Owner: brainbook
--

CREATE INDEX "Payment_status_idx" ON public."Payment" USING btree (status);


--
-- Name: Payment_transactionId_key; Type: INDEX; Schema: public; Owner: brainbook
--

CREATE UNIQUE INDEX "Payment_transactionId_key" ON public."Payment" USING btree ("transactionId");


--
-- Name: Publisher_name_key; Type: INDEX; Schema: public; Owner: brainbook
--

CREATE UNIQUE INDEX "Publisher_name_key" ON public."Publisher" USING btree (name);


--
-- Name: Refund_paymentId_idx; Type: INDEX; Schema: public; Owner: brainbook
--

CREATE INDEX "Refund_paymentId_idx" ON public."Refund" USING btree ("paymentId");


--
-- Name: Shipment_orderId_idx; Type: INDEX; Schema: public; Owner: brainbook
--

CREATE INDEX "Shipment_orderId_idx" ON public."Shipment" USING btree ("orderId");


--
-- Name: Shipment_trackingNumber_idx; Type: INDEX; Schema: public; Owner: brainbook
--

CREATE INDEX "Shipment_trackingNumber_idx" ON public."Shipment" USING btree ("trackingNumber");


--
-- Name: Tag_slug_key; Type: INDEX; Schema: public; Owner: brainbook
--

CREATE UNIQUE INDEX "Tag_slug_key" ON public."Tag" USING btree (slug);


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: brainbook
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: book_search_idx; Type: INDEX; Schema: public; Owner: brainbook
--

CREATE INDEX book_search_idx ON public."Book" USING gin (to_tsvector('simple'::regconfig, title));


--
-- Name: unique_active_cart_per_user; Type: INDEX; Schema: public; Owner: brainbook
--

CREATE UNIQUE INDEX unique_active_cart_per_user ON public."Cart" USING btree ("userId") WHERE ((status = 'ACTIVE'::public."CartStatus") AND ("userId" IS NOT NULL));


--
-- Name: Address Address_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."Address"
    ADD CONSTRAINT "Address_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: BookCategory BookCategory_bookId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."BookCategory"
    ADD CONSTRAINT "BookCategory_bookId_fkey" FOREIGN KEY ("bookId") REFERENCES public."Book"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: BookCategory BookCategory_categoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."BookCategory"
    ADD CONSTRAINT "BookCategory_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES public."Category"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: BookImage BookImage_bookId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."BookImage"
    ADD CONSTRAINT "BookImage_bookId_fkey" FOREIGN KEY ("bookId") REFERENCES public."Book"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: BookTag BookTag_bookId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."BookTag"
    ADD CONSTRAINT "BookTag_bookId_fkey" FOREIGN KEY ("bookId") REFERENCES public."Book"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: BookTag BookTag_tagId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."BookTag"
    ADD CONSTRAINT "BookTag_tagId_fkey" FOREIGN KEY ("tagId") REFERENCES public."Tag"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Book Book_authorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."Book"
    ADD CONSTRAINT "Book_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES public."Author"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Book Book_publisherId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."Book"
    ADD CONSTRAINT "Book_publisherId_fkey" FOREIGN KEY ("publisherId") REFERENCES public."Publisher"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: CartItem CartItem_bookId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."CartItem"
    ADD CONSTRAINT "CartItem_bookId_fkey" FOREIGN KEY ("bookId") REFERENCES public."Book"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CartItem CartItem_cartId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."CartItem"
    ADD CONSTRAINT "CartItem_cartId_fkey" FOREIGN KEY ("cartId") REFERENCES public."Cart"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Cart Cart_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."Cart"
    ADD CONSTRAINT "Cart_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CouponUsage CouponUsage_couponId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."CouponUsage"
    ADD CONSTRAINT "CouponUsage_couponId_fkey" FOREIGN KEY ("couponId") REFERENCES public."Coupon"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CouponUsage CouponUsage_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."CouponUsage"
    ADD CONSTRAINT "CouponUsage_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public."Order"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CouponUsage CouponUsage_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."CouponUsage"
    ADD CONSTRAINT "CouponUsage_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Inventory Inventory_bookId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."Inventory"
    ADD CONSTRAINT "Inventory_bookId_fkey" FOREIGN KEY ("bookId") REFERENCES public."Book"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: OrderItem OrderItem_bookId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."OrderItem"
    ADD CONSTRAINT "OrderItem_bookId_fkey" FOREIGN KEY ("bookId") REFERENCES public."Book"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: OrderItem OrderItem_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."OrderItem"
    ADD CONSTRAINT "OrderItem_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public."Order"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Order Order_shippingAddressId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "Order_shippingAddressId_fkey" FOREIGN KEY ("shippingAddressId") REFERENCES public."Address"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Order Order_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "Order_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: PaymentEvent PaymentEvent_paymentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."PaymentEvent"
    ADD CONSTRAINT "PaymentEvent_paymentId_fkey" FOREIGN KEY ("paymentId") REFERENCES public."Payment"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Payment Payment_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public."Order"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Refund Refund_paymentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."Refund"
    ADD CONSTRAINT "Refund_paymentId_fkey" FOREIGN KEY ("paymentId") REFERENCES public."Payment"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Shipment Shipment_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: brainbook
--

ALTER TABLE ONLY public."Shipment"
    ADD CONSTRAINT "Shipment_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public."Order"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: brainbook
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict huVWxy3jhsFIUGx3XaLg6Qv0XVIdlo84olXBGmJLJYKQ4AXfyjt7FiBtWFTilj3

